@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Josefin+Sans&display=swap');
body {
    font-family: 'Josefin Sans', sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
}

.sidebar {
    display: flex;
    flex: 1;
    align-items: stretch;
    position: relative;
    height: 100vh;

    img {
        object-fit:cover;
    }

    .overlay{
        display: flex;
        position: absolute;
        width: 100%;
        height: 15%;
        align-items: center;
        justify-content: center;
        background-color: #4789788a;
        margin-top: 25%;

        img{
            height: 70%;
            margin: 20px;
            fill: #E7A1CB;
        }
    }

    .company-name{
        font-size: 50px;
        opacity: 100%;
        font-family: 'Homemade Apple';
        color: lighten($pink, 7);
    }
}

.main {
    display: flex;
    flex: 2;
    flex-direction: column;
    background-color: lighten($pink, 20);
}

.main-text {
    margin: 8% 10% 2% 10%;
    color: darken($green, 5);
    font-size: 30px;

    .hook {
        margin: 5% 0%;
    }
}

.form-background {
    background-color: lighten($blue, 12);
    margin: 0;
    box-shadow: $base-box-shadow;
    font-size: 18px;
    color: darken($pink, 8);
    padding: 2%;
    .get-it {
        font-size: 25px;
        margin: 20% 0% 2% 5%;
    }
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0% 0% 2% 5%;
    font-size: 16px;
    div {
        display: flex;
        flex-direction: column;
        margin: 5% 0% 0% 0%;
    }
}

.input-no-border {
    border: 0;
    width: 70%;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
}

.input-no-border:focus {
    background-color: lighten($grey, 55);
}

.create-account{
    border: 0;
    box-shadow: $base-box-shadow;
    border-radius: $base-border-radius;
    width: 40%;
    margin: 10% 0% 0% 5%;
    padding: 12px;
    background-color: lighten($grey, 15);
    color: white;
}

a {
    color: $grey;
}

.have-account {
    margin: 3% 0% 0% 5%;
}

.error {
    background-color: $pink;
}
