//theme
$pink: #E7A1CB;
$green: #84DCC6;
$blue: #ACD7EC;
$grey: #478978;
$orange: #FCB97D;

$colors: (
    "pink": $pink,
    "green": $green,
    "blue": $blue,
    "grey": $grey,
    "orange": $orange
)
;

$grey-opaque: #47897888;